<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Alcatel-lucent HDM project"
            id="AlcatelWizard">
      </category>
      <wizard
            name="JavaScript project"
            icon="icons/sample.gif"
            category="AlcatelWizard"
            class="ui.NewJavaScriptProjectWizard"
            id="ui.NewJavaScriptProjectWizard">
      </wizard>
   </extension>

</plugin>
