<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Alcatel-lucent HDM development"
            id="al.hdm.jsWizard">
      </category>
      <wizard
            name="JavaScript project"
            icon="icons/sample.gif"
            category="al.hdm.jsWizard"
            class="ui.JavaScriptProjectWizard"
            id="al.hdm.ui.JavaScriptProjectWizard">
      </wizard>
   </extension>
   
   <extension point="org.eclipse.wst.jsdt.core.JsGlobalScopeContainerInitializer">            
   <JsGlobalScopeContainerInitializer                                          
      id="al.hdm.sharedlibrary"                                                     
      class="ui.SharedLibaryInitializer"/>                           
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">     
      <editor
	        class="editor.JavaScriptEditor"
	        contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
	        extensions="js"
	        default="true"
	        icon="icons/sample.gif"
	        id="al.hdm.editor.JavaScriptEditor"
	        name="My JavaScript Editor">
      </editor>
   </extension> 
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="al.hdm.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="al.hdm.commands.category"
            id="al.hdm.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handlers.SampleHandler"
            commandId="al.hdm.commands.sampleCommand">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="al.hdm.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">  //Ctrl + 6
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="al.hdm.menus.sampleCommandMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="al.hdm.commands.sampleCommand"
                  id="al.hdm.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="al.hdm.toolbars.sampleToolbar">
            <command
                  commandId="al.hdm.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="al.hdm.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
</plugin>
